<ol class="breadcrumb">
  <li class="active">{{device.label()}}</li>
</ol>

<div ng-if="!device.is('connected')" class="alert alert-danger">
  <h4>Sorry!</h4> Please connect your device to access this section.
</div>

<fieldset ng-disabled="!device.is('connected')">

  <p ng-show="!device.hasKey()">
    <a class="btn btn-block btn-lg btn-primary"
       ng-href="#/device/{{device.id}}/setup"
      ><span class="glyphicon glyphicon-cog"></span> Setup device</a>
  </p>

  <div class="list-group"
       ng-show="!device.hasKey()">
   <a class="list-group-item"
      ng-href="#/device/{{device.id}}/recovery">Seed recovery</a>
   <a class="list-group-item"
      ng-href="#/device/{{device.id}}/load">Import seed</a>
  </div>

  <div class="list-group"
       ng-show="device.hasKey()">
    <a class="list-group-item"
       ng-href="#/device/{{device.id}}/wipe"
      >Wipe device</a>
  </div>

</fieldset>

<a href="" class="text-muted pull-right"
   ng-click="forget(device)"
   >Forget device</a>
