<ol class="breadcrumb">
  <li><a ng-href="#/device/{{device.id}}">{{device.label()}}</a></li>
  <li class="active">Seed recovery</li>
</ol>

<div ng-if="!device.is('connected')" class="alert alert-danger">
  <h4>Sorry!</h4> Please connect your device to access this section.
</div>

<div class="row">

  <fieldset class="col-md-6"
            ng-show="recovering"
            ng-disabled="!device.is('connected')">
    <h4>Seed recovery</h4>

    <form class="form-inline"
          ng-submit="recoverWord()">
      <div class="form-group">
        <input type="text" class="input-lg" placeholder="Enter seed word"
               ng-options="word for word in seedWordlist"
               ng-model="seedWord"
               bs-typeahead>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg"
                ng-disabled="!wordCallback">{{wordCallback ? 'Confirm' : 'Please wait'}}</button>
      </div>
    </form>

    <h5 ng-show="seedWords.length">Recovered seed words:</h5>
    <ul>
      <li ng-repeat="word in seedWords">{{word}}</li>
    </ul>
  </fieldset>

  <fieldset class="col-md-6"
            ng-show="!recovering"
            ng-disabled="!device.is('connected')">
    <form name="form" class="devrecover">

      <div class="form-group">
        <label for="label" class="control-label">Device label</label>
        <input type="text" name="label" id="label" class="form-control"
               placeholder="My TREZOR"
               ng-model="settings.label">
      </div>

      <div class="form-group">
        <label for="word_count" class="control-label"
          >How many words does your seed contain?</label>
        <input type="text" name="word_count" id="word_count"
               class="form-control"
               slider
               data-slider-value="18"
               data-slider-min="12"
               data-slider-max="24"
               data-slider-step="6"
               ng-model="settings.word_count">
        <div class="row devsetup-strength">
          <div class="col-sm-4 text-left">
            12 words
          </div>
          <div class="col-sm-4 text-center">
            18 words
          </div>
          <div class="col-sm-4 text-right">
            24 words
          </div>
        </div>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="pin-protection"
                 ng-model="settings.pin_protection"> PIN protection
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="passphrase-protection"
                 ng-model="settings.passphrase_protection"> Passphrase protection
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-primary"
                ng-disabled="!form.$valid"
                ng-click="recover(device, settings)">Continue</button>
        <a href="#/device/{{device.id}}"
           class="btn btn-link">Cancel</a>
      </div>

    </form>
  </fieldset>

</div>