<ol class="breadcrumb">
  <li><a ng-href="#/device/{{device.id}}">{{device.label()}}</a></li>
  <li class="active">Setup</li>
</ol>

<div ng-if="!device.is('connected')" class="alert alert-danger">
  <h4>Sorry!</h4> Please connect your device to access this section.
</div>

<div class="row">
  <fieldset ng-disabled="!device.is('connected')">
    <form class="devsetup col-md-6">

      <div class="form-group">
        <label for="label" class="control-label">Device label</label>
        <input type="text" name="label" id="label" class="form-control"
               placeholder="My TREZOR"
               ng-model="settings.label">
      </div>

      <div class="form-group">
        <label for="strength" class="control-label">Recovery seed stregth</label>
        <input type="text" name="strength" id="strength"
               class="form-control"
               slider
               data-slider-value="192"
               data-slider-min="128"
               data-slider-max="256"
               data-slider-step="64"
               ng-model="settings.strength">
        <div class="row devsetup-strength">
          <div class="col-sm-4 text-left">
            12 words <span class="devsetup-strength-label">Good enough</span>
          </div>
          <div class="col-sm-4 text-center">
            18 words <span class="devsetup-strength-label">Even stronger</span>
          </div>
          <div class="col-sm-4 text-right">
            24 words <span class="devsetup-strength-label">Paranoid</span>
          </div>
        </div>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="pin-protection"
                 ng-model="settings.pin_protection"> PIN protection
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="passphrase-protection"
                 ng-model="settings.passphrase_protection"> Passphrase protection
        </label>
      </div>

      <div class="form-group">
        <button class="btn btn-primary"
                ng-click="setup(device, settings)">Continue</button>
        <a href="#/device/{{device.id}}"
           class="btn btn-link">Cancel</a>
      </div>

    </form>
  </fieldset>
</div>